html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#buttons {
    width: 550px;
    margin: auto;
}

button {
    width: 100px;
    height: 100px;
    margin: 3px;
    padding: 0 0 0 0;
    border-width: 0;
    font-size: 32px;
}

input {
    width: 100%;
}

.double-width {
    width: 209px;
}

#io {
    border: 2px black solid;
}

#output {
    text-align: right;
    margin-top: 20px;
}

#input, #output {
    border-width: 0;
    height: 50px;
    font-size: 32px;
}

