@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <div id="buttons">
        <div id="io">
            <input type="text" id="input">
            <input type="text" id="output" readonly>
        </div>
        <button onclick="writeFuncConst('pow(')">x&#178;</button>
        <button onclick="writeFuncConst('sqrt(')">√x</button>
        <button onclick="writeFuncConst('log(')">log</button>
        <button onclick="writeFuncConst('ln(')">ln</button>
        <button onclick="writeFuncConst('abs(')">abs</button>
        <button onclick="writeFuncConst('sin(')">sin</button>
        <button onclick="writeFuncConst('cos(')">cos</button>
        <button onclick="writeFuncConst('tg(')">tg</button>
        <button onclick="writeFuncConst('cotg(')">cotg</button>
        <button onclick="writeSymbol('%')">%</button>
        <button onclick="writeFuncConst('π')">π</button>
        <button onclick="writeFuncConst('e')">e</button>
        <button onclick="writeToInput('(')">(</button>
        <button onclick="writeToInput(')')">)</button>
        <button onclick="clear_input()">C</button>
        <button onclick="writeToInput(7)">7</button>
        <button onclick="writeToInput(8)">8</button>
        <button onclick="writeToInput(9)">9</button>
        <button class="double-width" onclick="delete_char()">&#8592;</button>
        <button onclick="writeToInput(4)">4</button>
        <button onclick="writeToInput(5)">5</button>
        <button onclick="writeToInput(6)">6</button>
        <button onclick="writeSymbol('*')">*</button>
        <button onclick="writeSymbol('/')">/</button>
        <button onclick="writeToInput(1)">1</button>
        <button onclick="writeToInput(2)">2</button>
        <button onclick="writeToInput(3)">3</button>
        <button onclick="writeSymbol('+')">+</button>
        <button onclick="writeSymbol('-')">-</button>
        <button onclick="writeToInput(0)">0</button>
        <button onclick="writeDecimalPoint('.')">.</button>
        <button onclick="writeFuncConst('Ans')">Ans</button>
        <button class="double-width" onclick="sendToServer()">=</button>
    </div>
</div>