@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <div id="buttons">
        <div id="io">
            <input type="text" id="input">
            <input type="text" id="output" readonly>
        </div>
        <button onclick="writeConstant('p ( ')">x&sup2;</button>
        <button onclick="writeConstant('√ ( ')">√x</button>
        <button onclick="writeConstant('l ( ')">log</button>
        <button onclick="writeConstant('n ( ')">ln</button>
        <button onclick="writeConstant('a ( ')">abs</button>
        <button onclick="writeConstant('s ( ')">sin</button>
        <button onclick="writeConstant('c ( ')">cos</button>
        <button onclick="writeConstant('t ( ')">tg</button>
        <button onclick="writeConstant('g ( ')">cotg</button>
        <button onclick="writeToInput(' % ')">%</button>
        <button onclick="writeConstant(' π ')">π</button>
        <button onclick="writeConstant(' e ')">e</button>
        <button onclick="writeToInput(' ( ')">(</button>
        <button onclick="writeToInput(' ) ')">)</button>
        <button onclick="clear_input()">C</button>
        <button onclick="writeDigit(7)">7</button>
        <button onclick="writeDigit(8)">8</button>
        <button onclick="writeDigit(9)">9</button>
        <button class="double-width" onclick="delete_char()">&#8592;</button>
        <button onclick="writeDigit(4)">4</button>
        <button onclick="writeDigit(5)">5</button>
        <button onclick="writeDigit(6)">6</button>
        <button onclick="writeSymbol(' * ')">*</button>
        <button onclick="writeSymbol(' / ')">/</button>
        <button onclick="writeDigit(1)">1</button>
        <button onclick="writeDigit(2)">2</button>
        <button onclick="writeDigit(3)">3</button>
        <button onclick="writeSymbol(' + ')">+</button>
        <button onclick="writeSymbol(' - ')">-</button>
        <button onclick="writeDigit(0)">0</button>
        <button onclick="writeSymbol('.')">.</button>
        <button onclick="writeConstant('Ans')">Ans</button>
        <button class="double-width" onclick="sendToServer()">=</button>
    </div>
</div>