@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <input type="text" id="output" readonly>
    <button onclick="writeToOutput(1)">1</button>
    <button onclick="writeToOutput(2)">2</button>
    <button onclick="writeToOutput(3)">3</button>
    <button onclick="writeToOutput(4)">4</button>
    <button onclick="writeToOutput(5)">5</button>
    <button onclick="writeToOutput(6)">6</button>
    <button onclick="writeToOutput(7)">7</button>
    <button onclick="writeToOutput(8)">8</button>
    <button onclick="writeToOutput(9)">9</button>
    <button onclick="writeToOutput(0)">0</button>
    <button onclick="writeSymbol('+')">+</button>
    <button onclick="writeSymbol('-')">-</button>
    <button onclick="writeSymbol('*')">*</button>
    <button onclick="writeSymbol('/')">/</button>
    <button onclick="writeToOutput('(')">(</button>
    <button onclick="writeToOutput(')')">)</button>
    <button onclick="delete_char()">&#8592;</button>
    <button onclick="writeConstant('π')">π</button>
    <button onclick="writeConstant('e')">e</button>
    <button onclick="writeConstant('Ans')">Ans</button>
    <button onclick="clear_output()">C</button>
    <button onclick="sendToServer()">=</button>
</div>

