@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <input type="text" id="input" readonly>
    <input type="text" id="output" placeholder="Result" readonly>
    <button onclick="writeSymbol('.')">.</button>
    <button onclick="writeToInput(1)">1</button>
    <button onclick="writeToInput(2)">2</button>
    <button onclick="writeToInput(3)">3</button>
    <button onclick="writeToInput(4)">4</button>
    <button onclick="writeToInput(5)">5</button>
    <button onclick="writeToInput(6)">6</button>
    <button onclick="writeToInput(7)">7</button>
    <button onclick="writeToInput(8)">8</button>
    <button onclick="writeToInput(9)">9</button>
    <button onclick="writeToInput(0)">0</button>
    <button onclick="writeSymbol('+')">+</button>
    <button onclick="writeSymbol('-')">-</button>
    <button onclick="writeSymbol('*')">*</button>
    <button onclick="writeSymbol('/')">/</button>
    <button onclick="writeToInput('(')">(</button>
    <button onclick="writeToInput(')')">)</button>
    <button onclick="delete_char()">&#8592;</button>
    <button onclick="writeConstant('π')">π</button>
    <button onclick="writeConstant('e')">e</button>
    <button onclick="writeConstant('Ans')">Ans</button>
    <button onclick="clear_input()">C</button>
    <button onclick="sendToServer()">=</button>
</div>

